doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title A.L.C.O.O.L
        link(rel="stylesheet", href="/css/style.css")
    body 
        header 
            h1 A.L.C.O.O.L 

        .mainContainer 
            button.button Avec quoi vais-je ouvrir ma bière ?

            .outputContainer 
                h1#output ???????
                img#imageOutput
        script(src="/js/script.js") 